<!DOCTYPE html>
<html>
<head>
    <title>
        AngularJs $http.post() Service Method Example
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('postserviceApp', []);
        app.controller('postserviceCtrl', function ($scope, $http) {
            $scope.name = null;
            $scope.age = null;
            $scope.adress = null;
            $scope.lblMsg = null;
            $scope.postdata = function (name, age, adress) {
                var data = {
                    name: name,
                    age: age,
                    adress: adress
                };
                $http.post('index.jsp', JSON.stringify(data)).then(function (response) {
                    if (response.data)
                        $scope.msg = response.data;
                }, function (response) {
                    $scope.msg = "Service not Exists";
                    $scope.statusval = response.status;
                    $scope.statustext = response.statusText;
                    $scope.headers = response.headers();
                });
            };
        });
    </script>
</head>
<body>
<h2>AngularJS Http Post Method Example</h2>
<div ng-app="postserviceApp" ng-controller="postserviceCtrl">
    <div>
        Name : <input ng-model="name" title="name"/><br/><br/>
        Age : <input ng-model="age" title="age"/><br/><br/>
        Adress : <input ng-model="adress" title="address"/><br/><br/>
        <input type="button" value="Send" ng-click="postdata(name, age, adress)"/> <br/><br/>
    </div>
    <p>Output Message : {{msg}}</p>
    <p>StatusCode: {{statusval}}</p>
    <p>Status: {{statustext}}</p>
    <p>Response Headers: {{headers}}</p>
</div>
</body>
</html>
