<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Instruments
                </div>
                <div class="card-block" ng-controller="instrumentsCtrl">
                
                <span>Search </span><input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    			<br>
    			<span>Limit Rows<span></span><select ng-model="pageSize" id="pageSize" class="form-control">
			        <option value="5">5</option>
			        <option value="10">10</option>
			        <option value="15">15</option>
			        <option value="20">20</option>
			     </select>
			     <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Instrument ID</th>
								<th>Instrument Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            	<tr ng-repeat="item in instruments | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
									<td>{{item.instrumentId}}</td>
									<td>{{item.instrumentName}}</td>
								</tr>
                        </tbody>    
                        <tfoot>
                        	<tr>
                        		<td colspan="2">
		                        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
							        Previous
							    </button>
							    	{{currentPage+1}}/{{numberOfPages()}}
							    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
							        Next
							    </button>
							    </td>
						    </tr>
                        </tfoot>        
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>