<!doctype html>
<html lang="en-US" ng-app="App">
<head>
	<meta charset="UTF-8">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<title>Users</title>
	<style>
		table { border-collapse: collapse; }
		td, th { border: 1px solid #999; }
		.col-1 { width: 200px; }
		.col-2 { width: 300px; }
		.sel { background-color: #bce65e; }
		.desc { background-color: #d1e6ac; }
	</style>
</head>
<body>

<table ng-controller="UsersCtrl">
	<thead>
		<tr>
			<th class="col-1">Name</th>
			<th class="col-2">Age</th>
		</tr>
	</thead>
	<tbody ng-repeat="user in users" ng-switch on="isSelUser(user)" ng-click="selUser(user,$index)">
		<tr ng-class="{sel:selIdx==$index}">
			<td>{{user.name}}</td>
			<td>{{user.age}}</td>
		</tr>
		<tr ng-switch-when="true">
			<td colspan="2" class="desc">{{user.desc}}</td>
		</tr>
	</tbody>
</table>
<script>
	angular.module('App',[])
			.factory('Users',function(){
				return {
					query:function(){
						return [
							{name:'John',age:25,desc:'Software Developer at MacroSoft LLC'},
							{name:'Jonatan',age:26,desc:'Professor at University of Tashkent'},
							{name:'Nataly',age:27,desc:'Nurse at central hospital'},
							{name:'Lucy',age:28,desc:'Teacher at district school'}
						];
					}
				}
			})
			.controller('UsersCtrl',function($scope,Users){
				$scope.users=Users.query();
				$scope.selIdx= -1;

				$scope.selUser=function(user,idx){
					$scope.selectedUser=user;
					$scope.selIdx=idx;
				}

				$scope.isSelUser=function(user){
					return $scope.selectedUser===user;
				}
			});
</script>
</body>
</html>