<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <a style="text-decoration: none" href="#!/tables/deals">
            <div class="card card-inverse card-primary" ng-controller="cardChartCtrl1">
                <div class="card-block pb-0">
                    
                    <h4 class="mb-0">9.823</h4>
                    <p>Deals</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
            </a>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <a style="text-decoration: none" href="#!/tables/instruments">
            <div class="card card-inverse card-info" ng-controller="cardChartCtrl2">
                <div class="card-block pb-0">
                    
                    <h4 class="mb-0">9.823</h4>
                    <p>Instruments</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
            </a>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <a style="text-decoration: none" href="#!/tables/counterparties">
            <div class="card card-inverse card-warning" ng-controller="cardChartCtrl3">
                <div class="card-block pb-0">
                    
                    <h4 class="mb-0">9.823</h4>
                    <p>Counterparties</p>
                </div>
                <div class="chart-wrapper" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
            </a>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <a style="text-decoration: none" href="#!/tables/users">
            <div class="card card-inverse card-danger" ng-controller="cardChartCtrl4">
                <div class="card-block pb-0">
                    
                    <h4 class="mb-0">9.823</h4>
                    <p>Users</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
            </a>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>